<div>
    <h1>Productos</h1>
    <ul>
        <li>
            <button><a href="/home">Home</a></button>
        </li>
        <li>
            <button><a href="/realtimeproducts">Real time products</a></button>
        </li>
    </ul>
</div>
