<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <nav>
        <button><a href="/home">Home</a></button>
        <button><a href="/realtimeproducts">Real time products</a></button>
        <button><a href="/productos">Productos</a></button>
        <button><a href="/carrito/663deaa4e7757e6f53b47bed">Carrito</a></button>
    </nav>
    {{{body}}}
</body>

</html>